{% extends "quotes/base.html" %}

{% block content %}
    <h2>Add New Author</h2>
    <form method="post" action="{% url 'quotes:add_author' %}">
        {% csrf_token %}
        <div style="padding: 10px">
            <label for="id_fullname">Full Name:</label><br>
            <input type="text" id="id_fullname" name="fullname"><br>
            <label for="id_born_date">Born Date:</label><br>
            <input type="text" id="id_born_date" name="born_date"><br>
            <label for="id_born_location">Born Location:</label><br>
            <input type="text" id="id_born_location" name="born_location"><br>
            <label for="id_description">Description:</label><br>
            <textarea id="id_description" name="description"></textarea><br>
        </div>
        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
{% endblock %}
