
{% if request.path == "/" %}
{% if user.is_authenticated %}
<a href="{% url 'users:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'users:login' %}" class="btn btn-success">Login</a>
{% else %}
<a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
{% endif %}
</p>















{% extends 'quotes/base.html' %}
{% block content %}
<h2>Add New Quote</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Quote</button>
</form>
{% endblock %}








<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
  <title>Homework</title>
</head>
<meta charset="UTF-8"/>
    <title>Note information</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
<body>
  <div class="container">
    <div class="row header-box pt-3 mb-3">
        <div class="col-md-8">
            <h1>
                <a href="/" style="text-decoration: none">Quotes to Scrape</a>
            </h1>
        </div>
        <div class="col-md-4">
            <p>
              <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
                <ul>
                    <li><a href="/" role="button"> Go back to the main page </a></li>
                </ul>
            </nav>
              <a href="{% url 'users:signup' %}" class="btn btn-primary">Signup</a>
              <a href="{% url 'users:login' %}" class="btn btn-success">Login</a>
              <a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
            </p>
        </div>
    </div>


{% block content %} {% endblock %}

</div>
</body>
</html>






#2

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
  <title>Homework</title>
</head>
<meta charset="UTF-8"/>
    <title>Note information</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
<body>
  <div class="container">
    <div class="row header-box pt-3 mb-3">
        <div class="col-md-8">
            <h1>
                <a href="/" style="text-decoration: none">Quotes to Scrape</a>
            </h1>
        </div>
        <div class="col-md-4">
            <p>
              <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
                <ul>
                    <li><a href="/" role="button"> Go back to the main page </a></li>
                </ul>
            </nav>
              {% if request.path == "/" %}
              <a href="{% url 'users:signup' %}" class="btn btn-primary">Signup</a>
              <a href="{% url 'users:login' %}" class="btn btn-success">Login</a>
              {% else %}
              <a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
              {% endif %}
            </p>
        </div>
    </div>

{% block content %} {% endblock %}

</div>
</body>
</html>



{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_quote' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Add author:
            {{ form.author }}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding: 10px">
        <label> Add quote:
            {{ form.quote }}
        </label>
        <span>{{ form.errors.quote }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select tags:
            <select name="tags" multiple="multiple" required>
                {% for tag in tags %}
                <option value="{{tag.tags}}">{{tag.tags}}</option>
                {% endfor %}
            </select>
        </label>        
        <span>{{ form.errors.tags }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}
